extends partials/templates/_template.pug

block content
  +b.SECTION.page
    .container
      .row
        .col-xs-12.col-md-8.col-xl-9
          +b.SECTION.breadcrumbs
            a(href="index.html") Сертификационный центр Гортестурал
            ='>'
            span Сертификат соответствия ГОСТ Р
          // Content
          +b.SECTION.content
            +e.H1.title Сертификат соответствия ГОСТ Р (h1)
            +e.text           
              h2 Заголовок текста h2
              h3 Заголовок текста h3
              h4 Заголовок текста h4
              h5 Заголовок текста h5
              h6 Заголовок текста h6
              p В рамках заботы о потребительских правах потребителей в России для большинства видов товаров предусмотрен особый сертификационный контроль. В зависимости от категории и предназначения исследование основных параметров продукции осуществляется в различных системах: Госстандарт, МЧС, Роспотребнадзор, Ростехнадзор и др. 
                a(href="#") ссылка на какую-нибудь страницу.
              p Сертификация – это ряд мероприятий, направленных на предоставление потребителям гарантий относительно качества и безопасности изделий, наполняющих внутренний рынок страны. В основе лежат соответствующие акты, определяющие нормативы и стандарты для производимых товаров.
              h2 Маркированный список
              ul
                li уставные документы компании;
                li бухгалтерская отчетность за последние полгода;
                li сертификаты соответствия или другие документы, подтверждающие качество и безопасность предлагаемой продукции или услуг;
                li иногда требуется предоставить лицензии, выданные уполномоченными и специальными органами РФ, в зависимости от вида работ или услуг, которые компания планирует предоставлять;
                li опись вышеуказанных документов должна прилагаться к пакету.                  
              h2 Нумерованный список
              ol
                li уставные документы компании;
                li бухгалтерская отчетность за последние полгода;
                li сертификаты соответствия или другие документы, подтверждающие качество и безопасность предлагаемой продукции или услуг;
                li иногда требуется предоставить лицензии, выданные уполномоченными и специальными органами РФ, в зависимости от вида работ или услуг, которые компания планирует предоставлять;
                li опись вышеуказанных документов должна прилагаться к пакету.
              h2 Таблица
              table(style="width:100%")
                thead
                  tr
                    th Пункт 1
                    th Пункт 2
                    th Пункт 3
                    th Пункт 4
                tbody
                  tr
                    td Текст текст текст
                    td Текст текст текст
                    td Текст текст текст
                    td Текст текст текст
                  tr
                    td Текст текст текст
                    td Текст текст текст
                    td Текст текст текст
                    td Текст текст текст
                  tr
                    td Текст текст текст
                    td Текст текст текст
                    td Текст текст текст
                    td Текст текст текст
              blockquote Профессионалы помогут подготовить необходимый пакет документов, и на протяжении всей процедуры тендера будут контролировать соблюдение прав заявителя. Если у вас нет в наличии какого-либо разрешительного или подтверждающего документа, специалисты сертификационного центра Гортест Урал помогут в его оформлении оперативно и в полном соответствии с действующим российским законодательством. Если у вас нет в наличии какого-либо разрешительного или подтверждающего документа, специалисты сертификационного центра Гортест Урал помогут в его оформлении оперативно и в полном соответствии с действующим российским законодательством. Если у вас нет в наличии какого-либо разрешительного или подтверждающего документа, специалисты сертификационного центра Гортест .

        .col-xs-12.col-md-4.col-xl-3
          // Sidebar
          include partials/components/_sidebar.pug

    // Procedure
    include partials/components/_procedure.pug           
    // Form
    +e.page__form--wide
      .container       
        // Form application
        include partials/components/_form--wide.pug 
    // Gratitude
    include partials/components/_gratitude.pug 
    // Clients
    include partials/components/_clients.pug 


