extends partials/templates/_template.pug

block content
  +b.SECTION.page--reviews
    .container
      .row
        .col-xs-12.col-md-8.col-xl-9
          +b.SECTION.breadcrumbs
            a(href="index.html") Сертификационный центр Гортестурал
            ='>'
            span Отзывы
          // Content
          +b.SECTION.content
            +e.H1.title Отзывы
            +e.UL.list
              +e.item
                +e.link(href='#reviews__gallery') Благодарственные письма клиентов
              +e.item
                +e.link(href='#reviews__flamp') Отзывы с flamp
              +e.item
                +e.link(href='#reviews__form') Оставьте свой отзыв
              +e.item
                +e.link(href='#reviews__articles') Отзывы наших клиентов на нашем сайте
            include partials/components/_reviews.pug
        .col-xs-12.col-md-4.col-xl-3
          include partials/components/_sidebar.pug


    // Procedure
    include partials/components/_procedure.pug           
    // Form
    +e.page__form--wide
      .container       
        // Form application
        include partials/components/_form--wide.pug 
    // Gratitude
    include partials/components/_gratitude.pug 
    // Clients
    include partials/components/_clients.pug 

