.content{
  text-align: left;
  margin-bottom: 20px;

  &__title{
    font-size: $font-size-h1;
    font-weight: $bold;
  }
  &__form{
    .form__close{
      display: none;
    }
    .form__title{
      display: none;
    } 
    .form{
      padding-top: 0;
      background-color: transparent;
      max-width: 500px;
    }  
    .form-group{
      margin: 0;
      padding-top: 10px;
    }
  }
  &__questions{
    margin-bottom: 30px;
  }


  &__search{
    margin-bottom: 50px;
  }
  h1{
    font-size: $font-size-h1;
    font-weight: $bold;
  }
  h2{
    font-size: $font-size-h2;
    font-weight: $bold;
  }
  h3{
    font-size: $font-size-h3; 
    font-weight: $bold;
  }
  h4{
    font-size: $font-size-h4; 
    font-weight: $bold;
  }
  h5, h6{
    font-size: $font-size-h5; 
    font-weight: $bold;
  }
  ul, ol{
    font-style: italic;
  }
  table{
    
  }
  thead{
    background-color: $lighter-grey;
  }
  th{
    text-align: center;
  }
  th, td{
    border: 1px solid $black;
    padding: 5px;
  }
  blockquote{
    margin-left: 20px;
    padding-left: 20px;
    border-left: 5px solid $black;
  }
  a{
    font-weight: 600;
  }
}
