.has-success{
  input, textarea{
    outline: 2px solid $success;
  }
}
.has-error{
  input, textarea{
    outline: 2px solid $error;
  }
  .help-block{
    display: block;
  }
}
.help-block{
  display: none;
  font-size: $font-size-small;
}

.form-group{
  margin-bottom: 10px;  
}

.field-question-recaptcha .g-recaptcha > div { 
  margin: 0 auto
}