.header{
  background-color: $darker-grey;  
  color: $text-color-grey1;
  &__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
  }
  &__info{
    flex: 0 0 37%;
    max-width: 37%;
    display: flex;
    justify-content: space-between;
  }
  &__nav{
    flex: 0 0 41%;
    max-width: 41%;
  }
  &__search{
    flex: 0 0 16%;
    max-width: 16%;
  }
}

.language{
  position: relative;
  padding: 0 10px;
  border: 1px solid transparent;
  &--active{
    background-color: $white;
    color: $text-color;
    border: 1px solid $light-grey;
    border-bottom: 1px solid transparent;
  }
  &__name{
    color: $text-color-grey1;
    display: inline-block;
    padding: 10px 0;
    &:hover, &:focus{
      color: $link-color-white;
    }
    &:before{
      content: '';
      display: inline-block;
      vertical-align: text-bottom;
      margin-right: 10px;
      @include sprite($s-icon-globe);
    }
    &:after{
      content: '▼';
      font-size: 0.7em;
      margin-left: 5px;
    }

    &--active{
      color: $text-color;
      &:hover, &:focus{
        color: $text-color;
      }
    }
  }  
  &__dropdown{
    width: calc(100% + 2px);
    display: none;
    background-color: $white;    
    padding: 0 10px;
    margin: 0;
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: -1px;
    z-index: 1;
    border: 1px solid $light-grey;
    border-top: 1px solid transparent;
  }
  &__item{    
    &:nth-of-type(1){
      padding-top: 5px;
      border-top: 1px solid $grey;
    }
  }
  &__link{
    display: inline-block;
    padding: 5px 0;
  }
}
.telephone{
  &__link{
    color: $text-color-grey1;
    display: inline-block;
    padding: 10px 0;
    &:hover, &:focus{
      color: $link-color-white;
    }
    &:before{
      content: '';
      display: inline-block;
      vertical-align: text-bottom;
      margin-right: 5px;
      @include sprite($s-icon-tel);
    } 
  }
}
.email{
  &__link{
    color: $text-color-grey1;
    display: inline-block;
    padding: 10px 0;
    &:hover, &:focus{
      color: $link-color-white;
    }    
    &:before{
      content: '';
      display: inline-block;
      vertical-align: text-bottom;
      margin-right: 5px;
      @include sprite($s-icon-plane);
    }
  }
}

.general-menu{
  &__hamburger{
    display: none;
  }
  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__link{
    color: $text-color-grey1;
    display: inline-block;
    padding: 10px 0;
    &:hover, &:focus{
      color: $link-color-white;
    }
    &--active{
      color: $link-color-white;
    }
  }
  &--footer{
    font-weight: $bold;
    .general-menu__link{
      padding: 0 0 0 15px;
      &--active{
        color: $red;
      }      
    }    
  }
}

.search{
  padding-top: 10px;
  position: relative;

  &__form{
  //   @include mq($from:md, $until:xl){
  //     position: absolute;
  //     right: 0;
  //   }    
  //   @include mq($from:xs, $until:md){
  //     position: relative;
  //     bottom: 0;
  //     right: 50%;
  //     transform: translateX(50%);
  //   } 
    &:after{
      content: '';
      display: inline-block;
      vertical-align: text-bottom;
      @include sprite($s-icon-loupe);
    }   
  }
  &__input{
    font-weight: $light;
    font-size: $font-size-small;
    background-color: transparent;
    border: 2px solid $grey;
    padding-left: 5px;
    color: $link-color-white;
    // @include mq($from:xs, $until:xl){
    //   width: 300px;
    // }    
    &:hover, &:focus{
      outline: none;
    }
    &:focus::-webkit-input-placeholder{
      color: transparent;         
    }       
    &:focus::placeholder{
      color: transparent;         
    }
  }

  &--footer{
    padding-top: 0;
    .search__input{
      color: $link-color;
      padding: 5px;
      width: 180px;
    }
  }
}

