.manager{
  // margin-bottom: 50px;
  &__inner{
    display: flex;
  }
  &__photo{
    flex: 0 0 250px;
    max-width: 250px;
  }
  &__img{
    width: 250px;
    height: 270px;
    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__btn{
    margin: 5px 0 50px;
    .btn{
      width: 100%;
    }
  }
}

.manager-info{
  max-width: 250px;
  background-color: $dark-grey;
  color: $white;    
  &__name{
    margin: 0;
    padding: 5px 0;
    font-size: $font-size-subtitle;
  }
  &__position{

  }
  &__line{
    padding: 5px 0;
    display: flex;
    justify-content: space-around;
  }
  &__link{
    color: $white;
    &--icq{
      &:before{
        content: '';
        display: inline-block;
        vertical-align: text-bottom;
        margin-right: 5px;
        @include sprite($s-contacts-icq);
      }
    }
    &--skype{
      &:before{
        content: '';
        display: inline-block;
        vertical-align: text-bottom;
        margin-right: 5px;
        @include sprite($s-contacts-skype);
      }
    }
  }

}

.manager-bio{
  flex: 0 0 calc(100% - 250px);
  max-width: calc(100% - 250px);
  text-align: left;
  padding: 0 30px;
  &__name{
    margin: 10px 0 0;
    font-size: $font-size-subtitle;
    font-weight: $semibold;
  }
  &__position{
    font-weight: $semibold;
  }  

  ul{
    padding-left: 10px;
  }
}

.manager-citation{
  margin: 0;
  text-align: left;
  max-width: 250px;
  background-color: $lightest-grey;
  border-radius: 5px;
  padding: 10px 15px 10px;
  position: relative;
  line-height: 1.25;
  &:after{
    content: '';
    position: absolute;
    top: 100%;
    right: 30px;
    border: 10px solid transparent; 
    border-top: 10px solid $lightest-grey; 
    border-right: 10px solid $lightest-grey;
  }
  &__title{
    margin: 0 0 5px;
    font-size: $font-size-title-22;
    font-weight: $bold;
  }
  &__text{
    font-size: $font-size-small;
    font-style: italic;

  }
}