.other-docs{
  text-align: center;
  background-color: $lighter-grey;

  &__title{
    font-size: $font-size-title;
    margin: 45px 0 35px;
  }
  &__gallery{
    padding: 0 60px;
    margin-bottom: 55px;
  }
}

