.sidebar{
  margin-top: 20px;

  .manager{
    background-color: $lighter-grey;
  }
  .manager__photo{
    max-width: 220px;
    margin: 0 auto;
  }
  .manager__img{
    max-width: 220px;
  }
}

.recommendations{
  margin: 20px 0;
  background-color: $lighter-grey;
  &__list{
    padding: 20px;
    margin: 0;
    list-style-type: none;
  }
  &__item{
    margin-bottom: 15px;
  }
  &__title{
    font-size: $font-size-promo;
    margin: 0 0 5px;
    font-weight: $bold;
  }
}