- var index = [{name: 'application', type: 'index', title : 'Введите продукцию, и мы подскажем, что на нее оформить', button: 'Отправить', success: 'Ваша заявка отправлена'}] 
- var modal = [{name: 'application', type: 'modal', title : 'Модальное окно', button: 'Отправить', success: 'Ваша заявка отправлена'}] 
- var wide = [{name: 'application', type: 'wide', title : 'Закажи документ прямо сейчас!', button: 'Заказать документ', success: 'Ваша заявка отправлена'}] 
//- var question = [{name: 'question', id: 'formQuestion', title : 'Задать вопрос', question: true, button: 'Отправить', success: 'Ваш вопрос отправлен'}] 
- var review = [{name: 'review', type: 'review', title : 'Напишите отзыв о нашей работе', button: 'Отправить отзыв', success: 'Отзыв успешно отправлен'}] 

mixin form(items)
  each item in items
    +b.SECTION(class= 'form--' + item.name)
      form(action='', method='')
        +e.A.close(href='#')
        +e.H3.title #{item.title}

        if item.type == 'index'
          .form-group.field-name.required
            +e.P.text Ваше имя
              span.color-red *
            +e.INPUT.input(type='text', name='Имя')
            p.help-block Ошибка заполнения поля формы
          .form-group.field-email.required
            +e.P.text Ваш e-mail
              span.color-red *
            +e.INPUT.input(type='email', name='Email')
            p.help-block Ошибка заполнения поля формы
          .form-group.field-request.required
            +e.P.text Ваш запрос
              span.color-red *
            +e.TEXTAREA.textarea(type='text', name='Запрос') 
            p.help-block Ошибка заполнения поля формы

        if item.type == 'modal'
          .form-group.field-name.required
            +e.P.text Ваше имя
              span.color-red *
            +e.INPUT.input(type='text', name='Имя')
            p.help-block Ошибка заполнения поля формы
          .form-group.field-email-tel.required
            +e.P.text Ваш e-mail/телефон
              span.color-red *
            +e.INPUT.input(type='text', name='Email/телефон')
            p.help-block Ошибка заполнения поля формы
          .form-group.field-question.required
            +e.P.text Продукция/документ/ваш вопрос
              span.color-red *
            +e.TEXTAREA.textarea(type='text', name='Вопрос') 
            p.help-block Ошибка заполнения поля формы

        if item.type == 'wide'
          .form-group.field-name.required
            +e.P.text Ваше имя
              span.color-red *
            +e.INPUT.input(type='text', name='Имя')
            p.help-block Ошибка заполнения поля формы
          .form-group.field-email-tel.required
            +e.P.text Ваш e-mail/телефон
              span.color-red *
            +e.INPUT.input(type='text', name='Email/телефон')
            p.help-block Ошибка заполнения поля формы
          .form-group.field-question.required
            +e.P.text Ваш вопрос
              span.color-red *
            +e.TEXTAREA.textarea(type='text', name='Вопрос') 
            p.help-block Ошибка заполнения поля формы

        if item.type == 'review'
          .form-group.field-name.required
            +e.P.text Ваша компания
              span.color-red *
            +e.INPUT.input(type='text', name='Компания')
            p.help-block Ошибка заполнения поля формы
          .form-group.field-email.required
            +e.P.text Ваш e-mail
              span.color-red *
            +e.INPUT.input(type='email', name='Email')
            p.help-block Ошибка заполнения поля формы
          .form-group.field-review.required
            +e.P.text Ваш отзыв
              span.color-red *
            +e.TEXTAREA.textarea(type='text', name='Отзыв') 
            p.help-block Ошибка заполнения поля формы

        .form-group
          +b.BUTTON.btn--form(type='submit') #{item.button}
          p.help-block.help-block-success #{item.success}
