mixin gratitudeSlide(img, alt, title, text)
  +e.slide
    +b.gratitude-item
      +e.img
        img(src= "img/" + img alt= alt title= alt)
      +e.review
        +e.H3.title #{title}
        +e.P.text #{text}
        +e.A.link(href='single-review.html') Читать полностью...

