mixin questionItem(title, askPerson, askText)
  +b.ARTICLE.question
    +e.H2.subtitle
      a(href="single-question.html") #{title}   
    +e.ask
      +e.person !{askPerson}
      +e.text !{askText}
    +e.A.link(href="single-question.html") Читать далее...

