// @font-face {
//     font-family: Roboto;
//     src: url('../fonts/roboto/roboto-regular-webfont.eot');
//     src: url('../fonts/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/roboto/roboto-regular-webfont.woff') format('woff'),
//          url('../fonts/roboto/roboto-regular-webfont.ttf') format('truetype'),
//          url('../fonts/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: Muller;
    src: url('../fonts/Muller/fontfabric_-_mullerregular-webfont.woff2') format('woff2'),
         url('../fonts/Muller/fontfabric_-_mullerregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//------------------------------------------------------------------------------
//  Базовые стили
//------------------------------------------------------------------------------

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  margin: 0;
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
}

a {
  color: $link-color;
  text-decoration: none;
  @include transition();

  &:hover, &:focus {
    color: $link-color--hover;
  }
}

button{
  @include transition();  
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.bolder{
  font-weight: $semibold;
}
.boldest{
  font-weight: $bold;
}

// .figure{
//   font-size: $font-size-promo;
//   font-weight: $semibold;
// }
.color-red{
  color: $red;
}

