/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-arrow-grey-name: 's-arrow-grey';
$s-arrow-grey-x: 159px;
$s-arrow-grey-y: 116px;
$s-arrow-grey-offset-x: -159px;
$s-arrow-grey-offset-y: -116px;
$s-arrow-grey-width: 74px;
$s-arrow-grey-height: 16px;
$s-arrow-grey-total-width: 289px;
$s-arrow-grey-total-height: 238px;
$s-arrow-grey-image: '../img/png-sprite.png';
$s-arrow-grey: (159px, 116px, -159px, -116px, 74px, 16px, 289px, 238px, '../img/png-sprite.png', 's-arrow-grey', );
$s-arrow-next-name: 's-arrow-next';
$s-arrow-next-x: 259px;
$s-arrow-next-y: 0px;
$s-arrow-next-offset-x: -259px;
$s-arrow-next-offset-y: 0px;
$s-arrow-next-width: 30px;
$s-arrow-next-height: 30px;
$s-arrow-next-total-width: 289px;
$s-arrow-next-total-height: 238px;
$s-arrow-next-image: '../img/png-sprite.png';
$s-arrow-next: (259px, 0px, -259px, 0px, 30px, 30px, 289px, 238px, '../img/png-sprite.png', 's-arrow-next', );
$s-arrow-next2-name: 's-arrow-next2';
$s-arrow-next2-x: 279px;
$s-arrow-next2-y: 140px;
$s-arrow-next2-offset-x: -279px;
$s-arrow-next2-offset-y: -140px;
$s-arrow-next2-width: 9px;
$s-arrow-next2-height: 16px;
$s-arrow-next2-total-width: 289px;
$s-arrow-next2-total-height: 238px;
$s-arrow-next2-image: '../img/png-sprite.png';
$s-arrow-next2: (279px, 140px, -279px, -140px, 9px, 16px, 289px, 238px, '../img/png-sprite.png', 's-arrow-next2', );
$s-arrow-red-name: 's-arrow-red';
$s-arrow-red-x: 62px;
$s-arrow-red-y: 130px;
$s-arrow-red-offset-x: -62px;
$s-arrow-red-offset-y: -130px;
$s-arrow-red-width: 71px;
$s-arrow-red-height: 16px;
$s-arrow-red-total-width: 289px;
$s-arrow-red-total-height: 238px;
$s-arrow-red-image: '../img/png-sprite.png';
$s-arrow-red: (62px, 130px, -62px, -130px, 71px, 16px, 289px, 238px, '../img/png-sprite.png', 's-arrow-red', );
$s-close-name: 's-close';
$s-close-x: 259px;
$s-close-y: 69px;
$s-close-offset-x: -259px;
$s-close-offset-y: -69px;
$s-close-width: 24px;
$s-close-height: 24px;
$s-close-total-width: 289px;
$s-close-total-height: 238px;
$s-close-image: '../img/png-sprite.png';
$s-close: (259px, 69px, -259px, -69px, 24px, 24px, 289px, 238px, '../img/png-sprite.png', 's-close', );
$s-contacts-icq-name: 's-contacts-icq';
$s-contacts-icq-x: 159px;
$s-contacts-icq-y: 136px;
$s-contacts-icq-offset-x: -159px;
$s-contacts-icq-offset-y: -136px;
$s-contacts-icq-width: 15px;
$s-contacts-icq-height: 15px;
$s-contacts-icq-total-width: 289px;
$s-contacts-icq-total-height: 238px;
$s-contacts-icq-image: '../img/png-sprite.png';
$s-contacts-icq: (159px, 136px, -159px, -136px, 15px, 15px, 289px, 238px, '../img/png-sprite.png', 's-contacts-icq', );
$s-contacts-skype-name: 's-contacts-skype';
$s-contacts-skype-x: 197px;
$s-contacts-skype-y: 136px;
$s-contacts-skype-offset-x: -197px;
$s-contacts-skype-offset-y: -136px;
$s-contacts-skype-width: 14px;
$s-contacts-skype-height: 15px;
$s-contacts-skype-total-width: 289px;
$s-contacts-skype-total-height: 238px;
$s-contacts-skype-image: '../img/png-sprite.png';
$s-contacts-skype: (197px, 136px, -197px, -136px, 14px, 15px, 289px, 238px, '../img/png-sprite.png', 's-contacts-skype', );
$s-hamburger-name: 's-hamburger';
$s-hamburger-x: 103px;
$s-hamburger-y: 71px;
$s-hamburger-offset-x: -103px;
$s-hamburger-offset-y: -71px;
$s-hamburger-width: 40px;
$s-hamburger-height: 40px;
$s-hamburger-total-width: 289px;
$s-hamburger-total-height: 238px;
$s-hamburger-image: '../img/png-sprite.png';
$s-hamburger: (103px, 71px, -103px, -71px, 40px, 40px, 289px, 238px, '../img/png-sprite.png', 's-hamburger', );
$s-icon-globe-name: 's-icon-globe';
$s-icon-globe-x: 178px;
$s-icon-globe-y: 136px;
$s-icon-globe-offset-x: -178px;
$s-icon-globe-offset-y: -136px;
$s-icon-globe-width: 15px;
$s-icon-globe-height: 15px;
$s-icon-globe-total-width: 289px;
$s-icon-globe-total-height: 238px;
$s-icon-globe-image: '../img/png-sprite.png';
$s-icon-globe: (178px, 136px, -178px, -136px, 15px, 15px, 289px, 238px, '../img/png-sprite.png', 's-icon-globe', );
$s-icon-loupe-name: 's-icon-loupe';
$s-icon-loupe-x: 259px;
$s-icon-loupe-y: 97px;
$s-icon-loupe-offset-x: -259px;
$s-icon-loupe-offset-y: -97px;
$s-icon-loupe-width: 19px;
$s-icon-loupe-height: 19px;
$s-icon-loupe-total-width: 289px;
$s-icon-loupe-total-height: 238px;
$s-icon-loupe-image: '../img/png-sprite.png';
$s-icon-loupe: (259px, 97px, -259px, -97px, 19px, 19px, 289px, 238px, '../img/png-sprite.png', 's-icon-loupe', );
$s-icon-plane-name: 's-icon-plane';
$s-icon-plane-x: 259px;
$s-icon-plane-y: 120px;
$s-icon-plane-offset-x: -259px;
$s-icon-plane-offset-y: -120px;
$s-icon-plane-width: 18px;
$s-icon-plane-height: 16px;
$s-icon-plane-total-width: 289px;
$s-icon-plane-total-height: 238px;
$s-icon-plane-image: '../img/png-sprite.png';
$s-icon-plane: (259px, 120px, -259px, -120px, 18px, 16px, 289px, 238px, '../img/png-sprite.png', 's-icon-plane', );
$s-icon-tel-name: 's-icon-tel';
$s-icon-tel-x: 217px;
$s-icon-tel-y: 155px;
$s-icon-tel-offset-x: -217px;
$s-icon-tel-offset-y: -155px;
$s-icon-tel-width: 10px;
$s-icon-tel-height: 17px;
$s-icon-tel-total-width: 289px;
$s-icon-tel-total-height: 238px;
$s-icon-tel-image: '../img/png-sprite.png';
$s-icon-tel: (217px, 155px, -217px, -155px, 10px, 17px, 289px, 238px, '../img/png-sprite.png', 's-icon-tel', );
$s-offer-18-name: 's-offer-18';
$s-offer-18-x: 159px;
$s-offer-18-y: 0px;
$s-offer-18-offset-x: -159px;
$s-offer-18-offset-y: 0px;
$s-offer-18-width: 96px;
$s-offer-18-height: 43px;
$s-offer-18-total-width: 289px;
$s-offer-18-total-height: 238px;
$s-offer-18-image: '../img/png-sprite.png';
$s-offer-18: (159px, 0px, -159px, 0px, 96px, 43px, 289px, 238px, '../img/png-sprite.png', 's-offer-18', );
$s-offer-5-name: 's-offer-5';
$s-offer-5-x: 62px;
$s-offer-5-y: 71px;
$s-offer-5-offset-x: -62px;
$s-offer-5-offset-y: -71px;
$s-offer-5-width: 37px;
$s-offer-5-height: 55px;
$s-offer-5-total-width: 289px;
$s-offer-5-total-height: 238px;
$s-offer-5-image: '../img/png-sprite.png';
$s-offer-5: (62px, 71px, -62px, -71px, 37px, 55px, 289px, 238px, '../img/png-sprite.png', 's-offer-5', );
$s-offer-card-name: 's-offer-card';
$s-offer-card-x: 0px;
$s-offer-card-y: 0px;
$s-offer-card-offset-x: 0px;
$s-offer-card-offset-y: 0px;
$s-offer-card-width: 74px;
$s-offer-card-height: 67px;
$s-offer-card-total-width: 289px;
$s-offer-card-total-height: 238px;
$s-offer-card-image: '../img/png-sprite.png';
$s-offer-card: (0px, 0px, 0px, 0px, 74px, 67px, 289px, 238px, '../img/png-sprite.png', 's-offer-card', );
$s-offer-doc-name: 's-offer-doc';
$s-offer-doc-x: 0px;
$s-offer-doc-y: 71px;
$s-offer-doc-offset-x: 0px;
$s-offer-doc-offset-y: -71px;
$s-offer-doc-width: 58px;
$s-offer-doc-height: 80px;
$s-offer-doc-total-width: 289px;
$s-offer-doc-total-height: 238px;
$s-offer-doc-image: '../img/png-sprite.png';
$s-offer-doc: (0px, 71px, 0px, -71px, 58px, 80px, 289px, 238px, '../img/png-sprite.png', 's-offer-doc', );
$s-offer-package-name: 's-offer-package';
$s-offer-package-x: 78px;
$s-offer-package-y: 0px;
$s-offer-package-offset-x: -78px;
$s-offer-package-offset-y: 0px;
$s-offer-package-width: 77px;
$s-offer-package-height: 63px;
$s-offer-package-total-width: 289px;
$s-offer-package-total-height: 238px;
$s-offer-package-image: '../img/png-sprite.png';
$s-offer-package: (78px, 0px, -78px, 0px, 77px, 63px, 289px, 238px, '../img/png-sprite.png', 's-offer-package', );
$s-offer-percent-name: 's-offer-percent';
$s-offer-percent-x: 159px;
$s-offer-percent-y: 47px;
$s-offer-percent-offset-x: -159px;
$s-offer-percent-offset-y: -47px;
$s-offer-percent-width: 64px;
$s-offer-percent-height: 65px;
$s-offer-percent-total-width: 289px;
$s-offer-percent-total-height: 238px;
$s-offer-percent-image: '../img/png-sprite.png';
$s-offer-percent: (159px, 47px, -159px, -47px, 64px, 65px, 289px, 238px, '../img/png-sprite.png', 's-offer-percent', );
$s-procedure-car-name: 's-procedure-car';
$s-procedure-car-x: 126px;
$s-procedure-car-y: 155px;
$s-procedure-car-offset-x: -126px;
$s-procedure-car-offset-y: -155px;
$s-procedure-car-width: 48px;
$s-procedure-car-height: 23px;
$s-procedure-car-total-width: 289px;
$s-procedure-car-total-height: 238px;
$s-procedure-car-image: '../img/png-sprite.png';
$s-procedure-car: (126px, 155px, -126px, -155px, 48px, 23px, 289px, 238px, '../img/png-sprite.png', 's-procedure-car', );
$s-procedure-doc-name: 's-procedure-doc';
$s-procedure-doc-x: 0px;
$s-procedure-doc-y: 197px;
$s-procedure-doc-offset-x: 0px;
$s-procedure-doc-offset-y: -197px;
$s-procedure-doc-width: 33px;
$s-procedure-doc-height: 41px;
$s-procedure-doc-total-width: 289px;
$s-procedure-doc-total-height: 238px;
$s-procedure-doc-image: '../img/png-sprite.png';
$s-procedure-doc: (0px, 197px, 0px, -197px, 33px, 41px, 289px, 238px, '../img/png-sprite.png', 's-procedure-doc', );
$s-procedure-list-name: 's-procedure-list';
$s-procedure-list-x: 45px;
$s-procedure-list-y: 155px;
$s-procedure-list-offset-x: -45px;
$s-procedure-list-offset-y: -155px;
$s-procedure-list-width: 40px;
$s-procedure-list-height: 36px;
$s-procedure-list-total-width: 289px;
$s-procedure-list-total-height: 238px;
$s-procedure-list-image: '../img/png-sprite.png';
$s-procedure-list: (45px, 155px, -45px, -155px, 40px, 36px, 289px, 238px, '../img/png-sprite.png', 's-procedure-list', );
$s-procedure-talks-name: 's-procedure-talks';
$s-procedure-talks-x: 0px;
$s-procedure-talks-y: 155px;
$s-procedure-talks-offset-x: 0px;
$s-procedure-talks-offset-y: -155px;
$s-procedure-talks-width: 41px;
$s-procedure-talks-height: 38px;
$s-procedure-talks-total-width: 289px;
$s-procedure-talks-total-height: 238px;
$s-procedure-talks-image: '../img/png-sprite.png';
$s-procedure-talks: (0px, 155px, 0px, -155px, 41px, 38px, 289px, 238px, '../img/png-sprite.png', 's-procedure-talks', );
$s-social-fb-grey-name: 's-social-fb-grey';
$s-social-fb-grey-x: 137px;
$s-social-fb-grey-y: 130px;
$s-social-fb-grey-offset-x: -137px;
$s-social-fb-grey-offset-y: -130px;
$s-social-fb-grey-width: 16px;
$s-social-fb-grey-height: 16px;
$s-social-fb-grey-total-width: 289px;
$s-social-fb-grey-total-height: 238px;
$s-social-fb-grey-image: '../img/png-sprite.png';
$s-social-fb-grey: (137px, 130px, -137px, -130px, 16px, 16px, 289px, 238px, '../img/png-sprite.png', 's-social-fb-grey', );
$s-social-fb-name: 's-social-fb';
$s-social-fb-x: 259px;
$s-social-fb-y: 140px;
$s-social-fb-offset-x: -259px;
$s-social-fb-offset-y: -140px;
$s-social-fb-width: 16px;
$s-social-fb-height: 16px;
$s-social-fb-total-width: 289px;
$s-social-fb-total-height: 238px;
$s-social-fb-image: '../img/png-sprite.png';
$s-social-fb: (259px, 140px, -259px, -140px, 16px, 16px, 289px, 238px, '../img/png-sprite.png', 's-social-fb', );
$s-social-google-name: 's-social-google';
$s-social-google-x: 259px;
$s-social-google-y: 160px;
$s-social-google-offset-x: -259px;
$s-social-google-offset-y: -160px;
$s-social-google-width: 16px;
$s-social-google-height: 16px;
$s-social-google-total-width: 289px;
$s-social-google-total-height: 238px;
$s-social-google-image: '../img/png-sprite.png';
$s-social-google: (259px, 160px, -259px, -160px, 16px, 16px, 289px, 238px, '../img/png-sprite.png', 's-social-google', );
$s-social-in-grey-name: 's-social-in-grey';
$s-social-in-grey-x: 259px;
$s-social-in-grey-y: 180px;
$s-social-in-grey-offset-x: -259px;
$s-social-in-grey-offset-y: -180px;
$s-social-in-grey-width: 16px;
$s-social-in-grey-height: 16px;
$s-social-in-grey-total-width: 289px;
$s-social-in-grey-total-height: 238px;
$s-social-in-grey-image: '../img/png-sprite.png';
$s-social-in-grey: (259px, 180px, -259px, -180px, 16px, 16px, 289px, 238px, '../img/png-sprite.png', 's-social-in-grey', );
$s-social-instagram-grey-name: 's-social-instagram-grey';
$s-social-instagram-grey-x: 259px;
$s-social-instagram-grey-y: 200px;
$s-social-instagram-grey-offset-x: -259px;
$s-social-instagram-grey-offset-y: -200px;
$s-social-instagram-grey-width: 16px;
$s-social-instagram-grey-height: 16px;
$s-social-instagram-grey-total-width: 289px;
$s-social-instagram-grey-total-height: 238px;
$s-social-instagram-grey-image: '../img/png-sprite.png';
$s-social-instagram-grey: (259px, 200px, -259px, -200px, 16px, 16px, 289px, 238px, '../img/png-sprite.png', 's-social-instagram-grey', );
$s-social-lj-name: 's-social-lj';
$s-social-lj-x: 259px;
$s-social-lj-y: 220px;
$s-social-lj-offset-x: -259px;
$s-social-lj-offset-y: -220px;
$s-social-lj-width: 16px;
$s-social-lj-height: 16px;
$s-social-lj-total-width: 289px;
$s-social-lj-total-height: 238px;
$s-social-lj-image: '../img/png-sprite.png';
$s-social-lj: (259px, 220px, -259px, -220px, 16px, 16px, 289px, 238px, '../img/png-sprite.png', 's-social-lj', );
$s-social-mail-name: 's-social-mail';
$s-social-mail-x: 227px;
$s-social-mail-y: 47px;
$s-social-mail-offset-x: -227px;
$s-social-mail-offset-y: -47px;
$s-social-mail-width: 16px;
$s-social-mail-height: 16px;
$s-social-mail-total-width: 289px;
$s-social-mail-total-height: 238px;
$s-social-mail-image: '../img/png-sprite.png';
$s-social-mail: (227px, 47px, -227px, -47px, 16px, 16px, 289px, 238px, '../img/png-sprite.png', 's-social-mail', );
$s-social-ok-name: 's-social-ok';
$s-social-ok-x: 227px;
$s-social-ok-y: 67px;
$s-social-ok-offset-x: -227px;
$s-social-ok-offset-y: -67px;
$s-social-ok-width: 16px;
$s-social-ok-height: 16px;
$s-social-ok-total-width: 289px;
$s-social-ok-total-height: 238px;
$s-social-ok-image: '../img/png-sprite.png';
$s-social-ok: (227px, 67px, -227px, -67px, 16px, 16px, 289px, 238px, '../img/png-sprite.png', 's-social-ok', );
$s-social-vk-grey-name: 's-social-vk-grey';
$s-social-vk-grey-x: 227px;
$s-social-vk-grey-y: 87px;
$s-social-vk-grey-offset-x: -227px;
$s-social-vk-grey-offset-y: -87px;
$s-social-vk-grey-width: 16px;
$s-social-vk-grey-height: 16px;
$s-social-vk-grey-total-width: 289px;
$s-social-vk-grey-total-height: 238px;
$s-social-vk-grey-image: '../img/png-sprite.png';
$s-social-vk-grey: (227px, 87px, -227px, -87px, 16px, 16px, 289px, 238px, '../img/png-sprite.png', 's-social-vk-grey', );
$s-social-vk-name: 's-social-vk';
$s-social-vk-x: 237px;
$s-social-vk-y: 116px;
$s-social-vk-offset-x: -237px;
$s-social-vk-offset-y: -116px;
$s-social-vk-width: 16px;
$s-social-vk-height: 16px;
$s-social-vk-total-width: 289px;
$s-social-vk-total-height: 238px;
$s-social-vk-image: '../img/png-sprite.png';
$s-social-vk: (237px, 116px, -237px, -116px, 16px, 16px, 289px, 238px, '../img/png-sprite.png', 's-social-vk', );
$s-spec-car-name: 's-spec-car';
$s-spec-car-x: 178px;
$s-spec-car-y: 155px;
$s-spec-car-offset-x: -178px;
$s-spec-car-offset-y: -155px;
$s-spec-car-width: 35px;
$s-spec-car-height: 17px;
$s-spec-car-total-width: 289px;
$s-spec-car-total-height: 238px;
$s-spec-car-image: '../img/png-sprite.png';
$s-spec-car: (178px, 155px, -178px, -155px, 35px, 17px, 289px, 238px, '../img/png-sprite.png', 's-spec-car', );
$s-spec-fork-name: 's-spec-fork';
$s-spec-fork-x: 259px;
$s-spec-fork-y: 34px;
$s-spec-fork-offset-x: -259px;
$s-spec-fork-offset-y: -34px;
$s-spec-fork-width: 24px;
$s-spec-fork-height: 31px;
$s-spec-fork-total-width: 289px;
$s-spec-fork-total-height: 238px;
$s-spec-fork-image: '../img/png-sprite.png';
$s-spec-fork: (259px, 34px, -259px, -34px, 24px, 31px, 289px, 238px, '../img/png-sprite.png', 's-spec-fork', );
$s-spec-kid-name: 's-spec-kid';
$s-spec-kid-x: 74px;
$s-spec-kid-y: 197px;
$s-spec-kid-offset-x: -74px;
$s-spec-kid-offset-y: -197px;
$s-spec-kid-width: 33px;
$s-spec-kid-height: 29px;
$s-spec-kid-total-width: 289px;
$s-spec-kid-total-height: 238px;
$s-spec-kid-image: '../img/png-sprite.png';
$s-spec-kid: (74px, 197px, -74px, -197px, 33px, 29px, 289px, 238px, '../img/png-sprite.png', 's-spec-kid', );
$s-spec-meat-name: 's-spec-meat';
$s-spec-meat-x: 111px;
$s-spec-meat-y: 197px;
$s-spec-meat-offset-x: -111px;
$s-spec-meat-offset-y: -197px;
$s-spec-meat-width: 33px;
$s-spec-meat-height: 27px;
$s-spec-meat-total-width: 289px;
$s-spec-meat-total-height: 238px;
$s-spec-meat-image: '../img/png-sprite.png';
$s-spec-meat: (111px, 197px, -111px, -197px, 33px, 27px, 289px, 238px, '../img/png-sprite.png', 's-spec-meat', );
$s-spec-perfume-name: 's-spec-perfume';
$s-spec-perfume-x: 37px;
$s-spec-perfume-y: 197px;
$s-spec-perfume-offset-x: -37px;
$s-spec-perfume-offset-y: -197px;
$s-spec-perfume-width: 33px;
$s-spec-perfume-height: 33px;
$s-spec-perfume-total-width: 289px;
$s-spec-perfume-total-height: 238px;
$s-spec-perfume-image: '../img/png-sprite.png';
$s-spec-perfume: (37px, 197px, -37px, -197px, 33px, 33px, 289px, 238px, '../img/png-sprite.png', 's-spec-perfume', );
$s-spec-tel-name: 's-spec-tel';
$s-spec-tel-x: 89px;
$s-spec-tel-y: 155px;
$s-spec-tel-offset-x: -89px;
$s-spec-tel-offset-y: -155px;
$s-spec-tel-width: 33px;
$s-spec-tel-height: 34px;
$s-spec-tel-total-width: 289px;
$s-spec-tel-total-height: 238px;
$s-spec-tel-image: '../img/png-sprite.png';
$s-spec-tel: (89px, 155px, -89px, -155px, 33px, 34px, 289px, 238px, '../img/png-sprite.png', 's-spec-tel', );
$spritesheet-width: 289px;
$spritesheet-height: 238px;
$spritesheet-image: '../img/png-sprite.png';
$spritesheet-sprites: ($s-arrow-grey, $s-arrow-next, $s-arrow-next2, $s-arrow-red, $s-close, $s-contacts-icq, $s-contacts-skype, $s-hamburger, $s-icon-globe, $s-icon-loupe, $s-icon-plane, $s-icon-tel, $s-offer-18, $s-offer-5, $s-offer-card, $s-offer-doc, $s-offer-package, $s-offer-percent, $s-procedure-car, $s-procedure-doc, $s-procedure-list, $s-procedure-talks, $s-social-fb-grey, $s-social-fb, $s-social-google, $s-social-in-grey, $s-social-instagram-grey, $s-social-lj, $s-social-mail, $s-social-ok, $s-social-vk-grey, $s-social-vk, $s-spec-car, $s-spec-fork, $s-spec-kid, $s-spec-meat, $s-spec-perfume, $s-spec-tel, );
$spritesheet: (289px, 238px, '../img/png-sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
