/*
  Project variables
  =================
*/


/*
  Flex Sass grid generator variables
  ==================================

  [flex-sass-grid-generator](https://github.com/Enkil/flex-sass-grid-generator)

*/

$base-font-size:              16px;
$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;

$screen-xs:                   0; // Extra small screen / phone
$screen-sm:                   480px; // Small screen / phone
$screen-md:                   760px; // Medium screen / tablet
$screen-lg:                   980px; // Large screen / desktop
$screen-xl:                   1200px; // Extra large screen / wide desktop
//$screen-xxl:                  1890px; // Super large screen / extra wide desktop

$container-max-widths: (
        sm:                   480px,
        md:                   760px,
        lg:                   980px,
        xl:                   1200px
) !default;


$grid-breakpoints: (
        xs:                   0,
        sm:                   540px,
        md:                   768px,
        lg:                   1024px,
        xl:                   1280px
) !default;

/*
  Sass MQ variables
  =================

  [sass-mq](https://github.com/sass-mq/sass-mq)
*/

$mq-breakpoints: (
        xs:                   0px,
        sm:                   540px,
        md:                   768px,
        lg:                   1024px,
        xl:                   1280px
) !default;



//------------------------------------------------------------------------------
//  Colors
//------------------------------------------------------------------------------


// Color table 

$white:                       #ffffff;
$black:                       #000000;
$text:                        #444444;

$darkest-grey:                #111111;
$darker-grey:                 #252525;
$dark-grey:                   #363636;
$grey:                        #9a9a9a;
$light-grey:                  #dbdbdb;
$lighter-grey:                #ececec;
$lightest-grey:               #f2f2f2;

$red:                         #dc0e0f;



$success:                     #5cb85c;
$error:                       #d9534f;


// Colors in use

$body-bg:                     $white;
$text-color:                  $text;

$link-color:                  $text-color;
$link-color--hover:           $red;

$text-color-grey1:            #898989;
$text-color-grey2:            #676767;
$text-color-grey3:            #959595;

$text-color-white:            $white;
$link-color-white:            $text-color-white;
// $link-color-white--hover:     darken($link-color-white, 20%);



//------------------------------------------------------------------------------
//  Typography
//------------------------------------------------------------------------------

$font-family:                   Arial, sans-serif;
// $font-family:                   Roboto, Helvetica, Arial, sans-serif;
$font-family-muller:            Muller, Helvetica, Arial, sans-serif;
//$font-family--serif:          Georgia, "Times New Roman", Times, serif;
//$font-family--monospace:      Menlo, Monaco, Consolas, "Courier New", monospace;


$font-size:                   14px;
$font-size-menu:              13px;
$font-size-form-title:        15px;
$font-size-small:             12px;

$font-size-promo:             18px;

$font-size-max:               36px;
$font-size-supertitle:        32px;
$font-size-title:             30px;
$font-size-title-24:          24px;
$font-size-title-22:          22px;
$font-size-subtitle:          20px;


$font-size-h1:                28px;
$font-size-h2:                24px;
$font-size-h3:                22px;
$font-size-h4:                20px;
$font-size-h5:                16px;



$line-height:                 1.43;

$light:                       100;
$regular:                     400;
$semibold:                    600;
$bold:                        700;


