include ../abstracts/bemto/bemto.pug

+b.SECTION.branches
  .container         
    +e.H2.title Такая сертификация подходит для отраслей
    .row
      +e.branch.col-xs-4     
        +e.block       
          +e.H3.type Легкая промышленность
          +e.UL.list
            +e.item Декларация соответствия ТР ТС
            +e.item Сертификат соответствия ТР ТС
            +e.item Декларация соответствия ГОСТ Р
            +e.item Сертификат соответствия ГОСТ Р
            +e.item Свидетельство о гос. регистрации продукции 
            +e.item Технические условия
            +e.item Экспертное заключение
            +e.item Паспорт изделия
          +e.btn
            +b.A.btn--branches(href="#", data-form="application", data-id="Легкая промышленность") Заказать
      +e.branch.col-xs-4
        +e.block       
          +e.H3.type Пищевое производство
          +e.UL.list
            +e.item Декларация ТР ТС
            +e.item Сертификат ГОСТ Р
            +e.item Декларация ГОСТ Р
            +e.item Технические условия
            +e.item Написание рецептур 
          +e.btn   
            +b.A.btn--branches(href="#", data-form="application", data-id="Пищевое производство") Заказать
      +e.branch.col-xs-4     
        +e.block       
          +e.H3.type Детская продукция
          +e.UL.list
            +e.item Декларация ТР ТС
            +e.item Сертификат ТР ТС
            +e.item Свидетельство о гос. регистрации продукции
            +e.item Технические условия
            +e.item Сертификат ГОСТ Р 
            +e.item Экспертное заключение
            +e.item Паспорт изделия  
          +e.btn
            +b.A.btn--branches(href="#", data-form="application", data-id="Детская продукция") Заказать
      +e.branch.col-xs-4
        +e.block       
          +e.H3.type Косметика и парфюмерия
          +e.UL.list
            +e.item Декларация ГОСТ Р
            +e.item Свидетельство о гос. регистрации
            +e.item Технические условия 
          +e.btn       
            +b.A.btn--branches(href="#", data-form="application", data-id="Косметика и парфюмерия") Заказать
      +e.branch.col-xs-4     
        +e.block       
          +e.H3.type Кафе, рестораны, столовая
          +e.UL.list
            +e.item Декларация ТР ТС
            +e.item ХАСПП: внедрение и сертификат ISO 22000
          +e.btn        
            +b.A.btn--branches(href="#", data-form="application", data-id="Кафе, рестораны, столовая") Заказать
      +e.branch.col-xs-4
        +e.block       
          +e.H3.type Предоставление услуг
          +e.UL.list
            +e.item Сертификат ГОСТ Р
            +e.item Сертификат ISO 9001
          +e.btn     
            +b.A.btn--branches(href="#", data-form="application", data-id="Предоставление услуг") Заказать

