include ../abstracts/bemto/bemto.pug

+b.SECTION.clients
  +e.inner.container
    .row 
      .col-xs-12
        +e.gallery
          - for (var i = 1; i < 8; ++i){
            +e.slide
              +e.img           
                img(src= "img/gallery1.png", alt="gallery1", title="gallery1")
            +e.slide
              +e.img
                img(src= "img/gallery2.png", alt="gallery2", title="gallery2")
          - }
