include ../abstracts/bemto/bemto.pug

+b.SECTION.code-base      
  +e.H2.title Базы кодов
  +e.link(href="page.html") База кодов ТН ВЭД
  +e.link(href="page.html") База кодов ОКП
  +e.link(href="page.html") База кодов ОКУН
  +e.link(href="page.html") База ГОСТов
  +e.link(href="page.html") Технические регламенты Таможенного союза и Российской Федерации
  +e.link(href="page.html") База кодов МКТУ

