include ../abstracts/bemto/bemto.pug

+b.SECTION.compulsory-docs
  .container      
    +e.H2.title Список обязательных документов
    .row
      +e.item.col-xs-6     
        +e.FIGURE.doc
          +e.img
            img(src="img/cert1.jpg", alt="cert1", title="cert1")
          +e.FIGCAPTION.caption Справка о доходах 2НДФЛ 
        +e.block       
          +e.text Подоходный налог — основной вид прямых налогов. Исчисляется в процентах от совокупного дохода физических или юридических лиц за вычетом документально подтверждённых расходов, в соответствии с действующим законодательством. В ряде стран подоходным налогом называют только налог на доходы физических лиц,
          +b.A.btn(href="#", data-form="application") Заказать документ
      +e.item.col-xs-6
        +e.FIGURE.doc
          +e.img
            img(src="img/cert1.jpg", alt="cert1", title="cert1")
          +e.FIGCAPTION.caption Справка о доходах 2НДФЛ 
        +e.block       
          +e.text Подоходный налог — основной вид прямых налогов. Исчисляется в процентах от совокупного дохода физических или юридических лиц за вычетом документально подтверждённых расходов, в соответствии с действующим законодательством. В ряде стран подоходным налогом называют только налог на доходы физических лиц,
          +b.A.btn(href="#", data-form="application") Заказать документ
      +e.item.col-xs-6
        +e.FIGURE.doc
          +e.img
            img(src="img/cert1.jpg", alt="cert1", title="cert1")
          +e.FIGCAPTION.caption Справка о доходах 2НДФЛ 
        +e.block       
          +e.text Подоходный налог — основной вид прямых налогов. Исчисляется в процентах от совокупного дохода физических или юридических лиц за вычетом документально подтверждённых расходов, в соответствии с действующим законодательством. В ряде стран подоходным налогом называют только налог на доходы физических лиц,
          +b.A.btn(href="#", data-form="application") Заказать документ
      +e.item.col-xs-6
        +e.FIGURE.doc
          +e.img
            img(src="img/cert1.jpg", alt="cert1", title="cert1")
          +e.FIGCAPTION.caption Справка о доходах 2НДФЛ 
        +e.block       
          +e.text Подоходный налог — основной вид прямых налогов. Исчисляется в процентах от совокупного дохода физических или юридических лиц за вычетом документально подтверждённых расходов, в соответствии с действующим законодательством. В ряде стран подоходным налогом называют только налог на доходы физических лиц,
          +b.A.btn(href="#", data-form="application") Заказать документ


