include ../abstracts/bemto/bemto.pug

+b.SECTION.cost
  +e.inner.container
    .row 
      .col-xs-12
        +e.H3.title Узнать стоимость документа
        +e.P.text Введите данные, получите стоимость на почту
        +b.A.btn(href="page-questions.html", data-form="application") Узнать стоимость


