include ../abstracts/bemto/bemto.pug

+b.SECTION.faq.container
  .row 
    .col-xs-12
      +e.H3.title Часто задаваемые вопросы
      +e.P.description Ответы на вопросы наших клиентов
  +e.inner
    +e.UL.questions
      +e.item(itemscope, itemtype="http://schema.org/Question")
        +e.H3.ask(itemprop="about") Произвожу продукцию, какие документы мне нужны?
          +e.icon
        +e.text(itemprop="acceptedAnswer") 
          p В России предусмотрено своевременное оформление разрешительных и подтверждающих документов на предоставление определенных услуг, производство или продажу товаров.
          p Если вы не оформили вовремя документы, и вскоре планируется проверка вашего предприятия контролирующими органами РФ (Ростехнадзор, Роспотребнадзор, Росздавнадзор и др.) необходимо срочно обратиться к специалистам сертификационного центра Гортест Урал. Здесь максимально оперативно будет оформлен полный пакет недостающих документов.
          p Специалисты сертификационного центра Готест Урал также проводят профессиональные консультации в данной сфере. Позвоните по одному из номеров телефона, которые мы указали на страницах нашего сайта, и наши опытные, квалифицированные сотрудники помогут вам разобраться, какие именно документы и в какие сроки должны быть оформлены. 
            +e.link(href="page.html") Подробнее...
      +e.item(itemscope, itemtype="http://schema.org/Question")
        +e.H3.ask(itemprop="about") Завожу продукцию из за рубежа, нужно пройти таможню!
          +e.icon
        +e.text(itemprop="acceptedAnswer")  
          p В России предусмотрено своевременное оформление разрешительных и подтверждающих документов на предоставление определенных услуг, производство или продажу товаров.
          p Если вы не оформили вовремя документы, и вскоре планируется проверка вашего предприятия контролирующими органами РФ (Ростехнадзор, Роспотребнадзор, Росздавнадзор и др.) необходимо срочно обратиться к специалистам сертификационного центра Гортест Урал. Здесь максимально оперативно будет оформлен полный пакет недостающих документов.
            +e.link(href="page.html") Подробнее...
      +e.item--active(itemscope, itemtype="http://schema.org/Question")
        +e.H3.ask(itemprop="about") Проверка контролирующих органов! СРОЧНО нужны документы
          +e.icon
        +e.text(itemprop="acceptedAnswer")  
          p В России предусмотрено своевременное оформление разрешительных и подтверждающих документов на предоставление определенных услуг, производство или продажу товаров.
          p Если вы не оформили вовремя документы, и вскоре планируется проверка вашего предприятия контролирующими органами РФ (Ростехнадзор, Роспотребнадзор, Росздавнадзор и др.) необходимо срочно обратиться к специалистам сертификационного центра Гортест Урал. Здесь максимально оперативно будет оформлен полный пакет недостающих документов.
          p Специалисты сертификационного центра Готест Урал также проводят профессиональные консультации в данной сфере. Позвоните по одному из номеров телефона, которые мы указали на страницах нашего сайта, и наши опытные, квалифицированные сотрудники помогут вам разобраться, какие именно документы и в какие сроки должны быть оформлены.
            +e.link(href="page.html") Подробнее...
      +e.item(itemscope, itemtype="http://schema.org/Question")
        +e.H3.ask(itemprop="about") Произвожу продукцию, какие документы мне нужны?
          +e.icon
        +e.text(itemprop="acceptedAnswer")  
          p В России предусмотрено своевременное оформление разрешительных и подтверждающих документов на предоставление определенных услуг, производство или продажу товаров.
          p Если вы не оформили вовремя документы, и вскоре планируется проверка вашего предприятия контролирующими органами РФ (Ростехнадзор, Роспотребнадзор, Росздавнадзор и др.) необходимо срочно обратиться к специалистам сертификационного центра Гортест Урал. Здесь максимально оперативно будет оформлен полный пакет недостающих документов.
            +e.link(href="page.html") Подробнее...
    +e.citation
      +e.citation-bg
      +b.BLOCKQUOTE.manager-citation(itemscope, itemtype="http://schema.org/Text")
        +e.H3.title Берем всю рутину на себя
        +e.text(itemprop="citation")   
          p Для оформления правильной документации мы тщательно изучаем вашу продукцию и как построен ваш бизнес. Мы заботимся о том, чтобы вы не платили лишних денег за ненужные документы. 
          p Чтобы вы не отвлекались от важных дел, подготовим все документы на сертификацию за вас. 
      +b.manager-info(itemscope, itemtype="http://schema.org/Person")
        +e.H3.name(itemprop="name") Анастасия Шушаричева
        +e.position(itemprop="jobTitle") специалист по сертификации
        +e.line
          +e.A.link--icq(href= "http://www.icq.com/whitepages/cmd.php?uin=111222333&action=message") 111-222-333
          +e.A.link--skype(href= "skype:skype01") skype01 


