include ../abstracts/mixins/_gratitude-slide.pug
include ../abstracts/bemto/bemto.pug

+b.SECTION.gratitude
  +e.inner.container
    .row 
      .col-xs-12
        +e.H3.title Благодарности клиентов
        +e.P.description За многие годы работы нашей компании, у нас собралось очень большое количество отзывов        
    +e.gallery.row
      +gratitudeSlide("client1.png", "client1", "ITL строительная компания", "Перед нами стояла задача пройти тендер. До тендера оставалось неделя. Мы обратились в Гортестурал. у нас сложное уникальное оборудование. Но специасл....")
      +gratitudeSlide("client2.png", "client2", "ITL строительная компания", "Перед нами стояла задача пройти тендер. До тендера оставалось неделя. Мы обратились в Гортестурал. у нас сложное уникальное оборудование. Но специасл....")
      +gratitudeSlide("client1.png", "client1", "ITL строительная компания", "Перед нами стояла задача пройти тендер. До тендера оставалось неделя. Мы обратились в Гортестурал. у нас сложное уникальное оборудование. Но специасл....")
      +gratitudeSlide("client2.png", "client2", "ITL строительная компания", "Перед нами стояла задача пройти тендер. До тендера оставалось неделя. Мы обратились в Гортестурал. у нас сложное уникальное оборудование. Но специасл....")
      +gratitudeSlide("client1.png", "client1", "ITL строительная компания", "Перед нами стояла задача пройти тендер. До тендера оставалось неделя. Мы обратились в Гортестурал. у нас сложное уникальное оборудование. Но специасл....")
      +gratitudeSlide("client2.png", "client2", "ITL строительная компания", "Перед нами стояла задача пройти тендер. До тендера оставалось неделя. Мы обратились в Гортестурал. у нас сложное уникальное оборудование. Но специасл....")

