include ../abstracts/bemto/bemto.pug

// Header
+b.HEADER.header
  +e.inner.container
    +e.info
      // Language
      +b.language
        +e.A.name(href="#") Русский
        +e.UL.dropdown
          +e.item
            +e.link(href="#") Русский
          +e.item
            +e.link(href="#") Английский
          +e.item
            +e.link(href="#") Китайский
      // Telephone
      +b.telephone
        +e.A.link(href="tel:+73433284436", target="_blank") +7 (343) 328-44-36
      // E-mail
      +b.email
        +e.A.link(href="mailto:info@gostestural.ru", target="_blank") info@gostestural.ru
    +e.nav
      // Nav menu header
      +b.NAV.general-menu--header
        +e.hamburger
          +b.A.hamburger(href="#")
        +e.UL.list
          +e.item 
            +e.A.link--active(href="index.html") Главная
          +e.item 
            +e.A.link(href="page.html") О компании
          +e.item
            +e.A.link(href="page-reviews.html") Отзывы
          +e.item 
            +e.A.link(href="page-news.html") Новости
          +e.item
            +e.A.link(href="page.html") Услуги
          +e.item
            +e.A.link(href="page.html") Помощь
          +e.item
            +e.A.link(href="page-contacts.html") Контакты
    +e.search
      // Search
      +b.search
        +e.FORM.form
          +e.INPUT.input(type='text', name='Поиск', placeholder='поиск')

// After header
+b.HEADER.after-header
  +e.inner.container
    .row.row-xs-middle
      .col-xs-12.col-sm-6.col-md-4.col-xl-4
        +e.wrapper        
          // Product type menu
          +b.NAV.product-type-menu
            +e.hamburger
              +b.A.hamburger(href="#")
          +e.logo
            // Logo
            +b.A.logo(href="index.html")       
              img(src="img/logo-header.png", alt="logo", title="logo")
          // Document type menu
          +b.NAV.document-type-menu
            +e.UL.list
              +e.item
                +e.A.link(href="javascript:void(0);") Типы документов

      .col-xs-12.col-md-5.col-xl-6
        // Cert type menu
        +b.NAV.cert-type-menu
          +e.UL.list
            +e.item
              +e.A.link(href="page.html") Сертификаты на производство
            +e.item
              +e.A.link(href="page.html") Разработка тех.документации
            +e.item
              +e.A.link(href="page.html") Документы для таможни
            +e.item
              +e.A.link(href="page.html") Допуски СРО
            +e.item
              +e.A.link(href="page.html") Международные сертификаты

      .col-xs-12.col-sm-6.col-md-3.col-xl-2
        // Contacts header
        +b.contacts-header
          +e.call(href="#") Он-лайн звонок
          +e.A.link--tel1(href="tel:+73433284436", target="_blank") +7 (343) 328-44-36
          +e.A.link--tel2(href="tel:+73433116280", target="_blank") +7 (343) 311-62-80
          +e.A.link--email(href="mailto:info@gostestural.ru", target="_blank") info@gostestural.ru
          // City
          +b.city
            +e.A.name(href="#") Екатеринбург
            +e.UL.dropdown
              +e.item(data-email= "info@gortestural.ru", data-prefix= "+7 (343) ", data-tel1= "328-44-36", data-tel2= "311-62-80") Екатеринбург
              +e.item(data-email= "74@gortestural.ru", data-prefix= "+7 (351) ", data-tel1= "216-06-27") Челябинск
              +e.item(data-email= "72@gortestural.ru", data-prefix= "+7 (345) ", data-tel1= "249-42-27") Тюмень
              +e.item(data-email= "81@gortestural.ru", data-prefix= "+7 (342) ", data-tel1= "259-68-29") Пермь
              +e.item(data-email= "86@gortestural.ru", data-prefix= "+7 (346) ", data-tel1= "227-02-41") Сургут
              +e.item(data-email= "02@gortestural.ru", data-prefix= "+7 (347) ", data-tel1= "264-19-52") Уфа
              +e.item(data-email= "45@gortestural.ru", data-prefix= "+7 (352) ", data-tel1= "222-23-26") Курган

  +e.dropdown--product-type
    .container      
      // Product type dropdown
      +b.UL.product-type-dropdown
        +e.item
          +e.A.link(href="javascript:void(0);") Таможенное оформление
          +b.UL.product-type-submenu
            +e.item 
              +e.A.link(href="page.html") Присвоить код ТН ВЭД
            +e.item 
              +e.A.link(href="page.html") Таможенное оформление
        +e.item
          +e.A.link(href="javascript:void(0);") Сертификация оборудования
          +b.UL.product-type-submenu
            +e.item 
              +e.A.link(href="page.html") Сертификат на муфты
            +e.item 
              +e.A.link(href="page.html") Сертификат на насосы
            +e.item 
              +e.A.link(href="page.html") Сертификат на оборудование
            +e.item 
              +e.A.link(href="page.html") Сертификат на установку
            +e.item 
              +e.A.link(href="page.html") Сертификат на фильтры
            +e.item 
              +e.A.link(href="page.html") Сертификация шаровых кранов
        +e.item
          +e.A.link(href="javascript:void(0);") Сертификация строительной продукции
          +b.UL.product-type-submenu
            +e.item 
              +e.A.link(href="page.html") Сертификат на арматуру
            +e.item 
              +e.A.link(href="page.html") Сертификат на бетон
            +e.item 
              +e.A.link(href="page.html") Сертификат на блоки
            +e.item 
              +e.A.link(href="page.html") Сертификат на выключатели
            +e.item 
              +e.A.link(href="page.html") Сертификат на герметики
            +e.item 
              +e.A.link(href="page.html") Сертификат на гипсокартон
            +e.item 
              +e.A.link(href="page.html") Сертификат на грунт
            +e.item 
              +e.A.link(href="page.html") Сертификат на двери
            +e.item 
              +e.A.link(href="page.html") Сертификат на изоляцию
            +e.item 
              +e.A.link(href="page.html") Сертификат на ЖБИ
            +e.item 
              +e.A.link(href="page.html") Сертификат на кирпич
            +e.item 
              +e.A.link(href="page.html") Сертификат на лампы
            +e.item 
              +e.A.link(href="page.html") Сертификат на линолеум
            +e.item 
              +e.A.link(href="page.html") Сертификат на металлопрокат
            +e.item 
              +e.A.link(href="page.html") Сертификат на окна
            +e.item 
              +e.A.link(href="page.html") Сертификат на оконные блоки
            +e.item 
              +e.A.link(href="page.html") Сертификат на ПВХ
            +e.item 
              +e.A.link(href="page.html") Сертификат на пеноблоки
            +e.item 
              +e.A.link(href="page.html") Сертификат на монтажную пену
            +e.item 
              +e.A.link(href="page.html") Сертификат на песок
            +e.item 
              +e.A.link(href="page.html") Сертификат на пиломатериалы
            +e.item 
              +e.A.link(href="page.html") Сертификат на пленку
            +e.item 
              +e.A.link(href="page.html") Сертификат на плитку
            +e.item 
              +e.A.link(href="page.html") Сертификат на профиль
            +e.item 
              +e.A.link(href="page.html") Сертификат на ПФ-115
            +e.item 
              +e.A.link(href="page.html") Сертификат на светильники
            +e.item 
              +e.A.link(href="page.html") Сертификат на сетку
            +e.item 
              +e.A.link(href="page.html") Сертификат на смесь
            +e.item 
              +e.A.link(href="page.html") Сертификат на сталь
            +e.item 
              +e.A.link(href="page.html") Сертификат на сухие смеси
            +e.item 
              +e.A.link(href="page.html") Сертификат на трубы
            +e.item 
              +e.A.link(href="page.html") Сертификат на цемент
            +e.item 
              +e.A.link(href="page.html") Сертификат на швеллер
            +e.item 
              +e.A.link(href="page.html") Сертификат на шкаф
            +e.item 
              +e.A.link(href="page.html") Сертификат на штукатурку
            +e.item 
              +e.A.link(href="page.html") Сертификат на щебень
            +e.item 
              +e.A.link(href="page.html") Сертификат на эмаль
        +e.item
          +e.A.link(href="javascript:void(0);") Сертификация пищевой продукции
          +b.UL.product-type-submenu
            +e.item 
              +e.A.link(href="page.html") Сертификат на БАД
            +e.item 
              +e.A.link(href="page.html") Сертификат на воду
            +e.item 
              +e.A.link(href="page.html") Сертификат на масло
            +e.item 
              +e.A.link(href="page.html") Документы на молоко
            +e.item 
              +e.A.link(href="page.html") Сертификат на овощи
            +e.item 
              +e.A.link(href="page.html") Сертификат на хлеб
            +e.item 
              +e.A.link(href="page.html") Сертификат на чай
            +e.item 
              +e.A.link(href="page.html") Документы на мёд
            +e.item 
              +e.A.link(href="page.html") Сертификация услуг общественного питания
        +e.item
          +e.A.link(href="javascript:void(0);") Сертификация детской продукции
          +b.UL.product-type-submenu
            +e.item 
              +e.A.link(href="page.html") Сертификат на игровые площадки
        +e.item
          +e.A.link(href="javascript:void(0);") Сертификация продукции легкой промышленности
          +b.UL.product-type-submenu
            +e.item 
              +e.A.link(href="page.html") Сертификат соответствия на обувь
            +e.item 
              +e.A.link(href="page.html") Сертификат на одежду
            +e.item 
              +e.A.link(href="page.html") Сертификат на перчатки
        +e.item
          +e.A.link(href="javascript:void(0);") Сертификация парфюмерно-косметической продукции
          +b.UL.product-type-submenu
            +e.item 
              +e.A.link(href="page.html") Сертификат на бижутерию
            +e.item 
              +e.A.link(href="page.html") Сертификат на косметику
            +e.item 
              +e.A.link(href="page.html") Сертификат на косметическое масло
            +e.item 
              +e.A.link(href="page.html") Сертификат на парфюмерию
        +e.item
          +e.A.link(href="javascript:void(0);") Сертификация производства
          +b.UL.product-type-submenu
            +e.item 
              +e.A.link(href="page.html") Сертификат на производство
        +e.item
          +e.A.link(href="javascript:void(0);") Сертификация бытовой химии
          +b.UL.product-type-submenu
            +e.item 
              +e.A.link(href="page.html") Сертификат на бытовую химию
        +e.item
          +e.A.link(href="javascript:void(0);") Сертификация полиграфической и канцелярской продукции
          +b.UL.product-type-submenu
            +e.item 
              +e.A.link(href="page.html") Сертификат на книги
            +e.item 
              +e.A.link(href="page.html") Сертификат на клей
        +e.item
          +e.A.link(href="javascript:void(0);") Проверка подлинности документов
          +b.UL.product-type-submenu
            +e.item 
              +e.A.link(href="page.html") Реестр документов на сайте Росаккредитации
            +e.item 
              +e.A.link(href="page.html") Реестр Свидетельств о госрегистрации
            +e.item 
              +e.A.link(href="page.html") Реестр медицинских изделий и организаций
            +e.item 
              +e.A.link(href="page.html") Реестр зарегистрированных нотификаций (уведомлений)
        +e.A.close(href="#")

  +e.dropdown--document-type
    .container      
      // Document type dropdown
      +b.UL.document-type-dropdown
        +e.item
          +e.A.link(href="javascript:void(0);") Сертификация и декларирование
          +b.UL.document-type-submenu
            +e.item 
              +e.A.link(href="page.html") Сертификация продукции
            +e.item 
              +e.A.link(href="page.html") Сертификат на услуги
            +e.item 
              +e.A.link(href="page.html") Сертификат происхождения
            +e.item 
              +e.A.link(href="page.html") Сертификат промышленной безопасности
            +e.item 
              +e.A.link(href="page.html") Сертификат соответствия ГОСТ Р
            +e.item 
              +e.A.link(href="page.html") Сертификат соответствия ТР ТС
            +e.item 
              +e.A.link(href="page.html") Сертификат соответствия ТР
            +e.item 
              +e.A.link(href="page.html") Сертификат CE
            +e.item 
              +e.A.link(href="page.html") Добровольная сертификация
            +e.item 
              +e.A.link(href="page.html") Декларация соответствия ГОСТ Р
            +e.item 
              +e.A.link(href="page.html") Декларация соответствия Таможенного союза
            +e.item 
              +e.A.link(href="page.html") Декларация соответствия Техническому регламенту
            +e.item 
              +e.A.link(href="page.html") Декларация связи
            +e.item 
              +e.A.link(href="page.html") Таможенная декларация соответствия
        +e.item
          +e.A.link(href="javascript:void(0);") ISO
          +b.UL.document-type-submenu
            +e.item 
              +e.A.link(href="page.html") Сертификат ИСО 9001
            +e.item 
              +e.A.link(href="page.html") ИСО 22 000 (ХАССП), HACCP
            +e.item 
              +e.A.link(href="page.html") Сертификат ОХСАС 18001
            +e.item 
              +e.A.link(href="page.html") ИСО 14001
        +e.item
          +e.A.link(href="javascript:void(0);") Техническая документация
          +b.UL.document-type-submenu
            +e.item 
              +e.A.link(href="page.html") Обоснование безопасности
            +e.item 
              +e.A.link(href="page.html") Паспорт безопасности вещества
            +e.item 
              +e.A.link(href="page.html") Паспорт изделия
            +e.item 
              +e.A.link(href="page.html") Рецептуры
            +e.item 
              +e.A.link(href="page.html") Руководство по эксплуатации
            +e.item 
              +e.A.link(href="page.html") Технические условия
            +e.item 
              +e.A.link(href="page.html") Технологический регламент
            +e.item 
              +e.A.link(href="page.html") Технологические инструкции
            +e.item 
              +e.A.link(href="page.html") Разработка стандарта организации
            +e.item 
              +e.A.link(href="page.html") Штрихкоды
        +e.item
          +e.A.link(href="javascript:void(0);") Пожарная сертификация
          +b.UL.document-type-submenu
            +e.item 
              +e.A.link(href="page.html") Декларация пожарной безопасности
            +e.item 
              +e.A.link(href="page.html") Декларация пожарной безопасности на объект
            +e.item 
              +e.A.link(href="page.html") Сертификат пожарной безопасности
        +e.item
          +e.A.link(href="javascript:void(0);") Гигиеническое заключение
          +b.UL.document-type-submenu
            +e.item 
              +e.A.link(href="page.html") Свидетельство о гос. регистрации (СГР)
            +e.item 
              +e.A.link(href="page.html") Экспертное заключение                     
        +e.item
          +e.A.link(href="javascript:void(0);") Разрешительные документы
          +b.UL.document-type-submenu
            +e.item 
              +e.A.link(href="page.html") Аттестация технология сварки НАКС
            +e.item 
              +e.A.link(href="page.html") Заключение Эксконта
            +e.item 
              +e.A.link(href="page.html") Отказное письмо
            +e.item 
              +e.A.link(href="page.html") CБКТС
            +e.item 
              +e.A.link(href="page.html") Одобрение типа ТС
            +e.item 
              +e.A.link(href="page.html") Лицензия МЧС
            +e.item 
              +e.A.link(href="page.html") Нотификация ФСБ
            +e.item 
              +e.A.link(href="page.html") Разрешение Ростехнадзора
            +e.item 
              +e.A.link(href="page.html") Регистрационное удостоверение
            +e.item 
              +e.A.link(href="page.html") Регистрация ОПО
            +e.item 
              +e.A.link(href="page.html") Экспертиза промышленной безопасности
            +e.item 
              +e.A.link(href="page.html") Озоновое заключение
            +e.item 
              +e.A.link(href="page.html") Оформление лицензии на отходы
            +e.item 
              +e.A.link(href="page.html") Регистрация товарного знака
            +e.item 
              +e.A.link(href="page.html") Тендерные закупки
        +e.item
          +e.A.link(href="page.html") Допуск СРО
        +e.A.close(href="#")




