include ../abstracts/bemto/bemto.pug

+b.SECTION.introduction(itemscope, itemtype="http://schema.org/Organization")
  +e.H1.title(itemprop="name") «Гортест Урал» - Аккредитованный центр сертификации
  +e.text(itemprop="description")
    p «Гортест Урал» — аккредитованный центр сертификации продукции и услуг             
    p Мы предлагаем нашим клиентам целый спектр услуг, позволяющих не только быстро оформить необходимые сертификаты, декларации, свидетельства и заключения, но и в оперативные сроки получить их на руки любым удобным для заказчика способом.             
  +b.timeline
    +e.UL.list
      +e.item--01.--active
        +e.date 
          div янв
          .figure 2011
      +e.item--02
        +e.date 
          div мар
          .figure 2011
      +e.item--03
        +e.date 
          div сен
          .figure 2012
      +e.item--04
        +e.date 
          div янв
          .figure 2013
      +e.item--05
        +e.date 
          div май
          .figure 2013
      +e.item--06
        +e.date 
          div фев
          .figure 2015
      +e.item--07
        +e.date 
          div авг
          .figure 2016
    +e.UL.description-list
      +e.description--01.--active Мы предлагаем нашим клиентам целый спектр услуг, позволяющих не только быстро оформить необходимые сертификаты, декларации, свидетельства и заключения, но и в оперативные сроки получить их на руки любым удобным для заказчика способом. 
      +e.description--02 Создавая компанию, мы учли все пожелания и требования клиентов в области технического регулирования и развили большую филиальную сеть, что позволяет заказчику получить оригинал желаемого разрешительного документа в самые сжатые сроки! Все клиенты получает ответы на все поставленные вопросы. 
      +e.description--03 Специалисты центра сертификации и декларирования «Гортест Урал» всегда готовы помочь в решении даже самых сложных вопросов в оформлении разрешительной документации.
      +e.description--04 Мы предлагаем нашим клиентам целый спектр услуг, позволяющих не только быстро оформить необходимые сертификаты, декларации, свидетельства и заключения, но и в оперативные сроки получить их на руки любым удобным для заказчика способом.
      +e.description--05 Создавая компанию, мы учли все пожелания и требования клиентов в области технического регулирования и развили большую филиальную сеть, что позволяет заказчику получить оригинал желаемого разрешительного документа в самые сжатые сроки! Все клиенты получает ответы на все поставленные вопросы.
      +e.description--06 Специалисты центра сертификации и декларирования «Гортест Урал» всегда готовы помочь в решении даже самых сложных вопросов в оформлении разрешительной документации.
      +e.description--07 Создавая компанию, мы учли все пожелания и требования клиентов в области технического регулирования и развили большую филиальную сеть, что позволяет заказчику получить оригинал желаемого разрешительного документа в самые сжатые сроки! Все клиенты получает ответы на все поставленные вопросы.
  +e.text(itemprop="description")
    p Мы предлагаем нашим клиентам целый спектр услуг, позволяющих не только быстро оформить необходимые сертификаты, декларации, свидетельства и заключения, но и в оперативные сроки получить их на руки любым удобным для заказчика способом.             
    p Создавая компанию, мы учли все пожелания и требования клиентов в области технического регулирования и развили большую филиальную сеть, что позволяет заказчику получить оригинал желаемого разрешительного документа в самые сжатые сроки! Все клиенты получает ответы на все поставленные вопросы.            
    p Специалисты центра сертификации и декларирования «Гортест Урал» всегда готовы помочь в решении даже самых сложных вопросов в оформлении разрешительной документации.

