include ../abstracts/bemto/bemto.pug

+b.SECTION.landing
  .container
    .row 
      .col-xs-12  
        +e.H1.title Сертификация для индивидуальных предпринимателей
    .row 
      .col-xs-6 
        +e.img
          img(src='img/news2.jpg' alt='promo2' title='promo2')
      .col-xs-6 
        +e.text
          p Зарегистрировали ИП? Стали частным предпринимателем и теперь производите, продаете или ввозите продукцию из-за рубежа. настало время получить на нее разрешительные документы.
          p Зарегистрировали ИП? Стали частным предпринимателем и теперь производите, продаете или ввозите продукцию из-за рубежа. настало время получить на нее разрешительные документы.
          p Зарегистрировали ИП? Стали частным предпринимателем и теперь производите, продаете или ввозите продукцию из-за рубежа. настало время получить на нее разрешительные документы.
          p Зарегистрировали ИП? Стали частным предпринимателем и теперь производите, продаете или ввозите продукцию из-за рубежа. настало время получить на нее разрешительные документы.

