include ../abstracts/bemto/bemto.pug

+b.SECTION.laws-section      
  +e.H2.title Законодательство
  +e.link(href="page.html") ТР ТС 021/2011 «О безопасности пищевой продукции»....
  +e.link(href="page.html") ТР ТС 021/2011 «О безопасности пищевой продукции»....
  +e.link(href="page.html") ТР ТС 034/2013 «О безопасности мяса и мясной продукции»....
  +e.link(href="page.html") ТР ТС 034/2013 «О безопасности мяса и мясной продукции»....


