include ../abstracts/bemto/bemto.pug

+b.SECTION.laws-section      
  +e.H2.title Законодательство
  +b.ARTICLE.law
    +e.H3.title
      +e.link(href="page.html") Чем нам грозит интеграция с Китаем?
    +e.text Вчера специалист нашего сертификационного центра Оксана Лоскутова дала свои комментарии по поводу принятого решения о переносе производства из Китая в Россию, на территорию
  +b.ARTICLE.law
    +e.H3.title
      +e.link(href="page.html") Чем нам грозит интеграция с Китаем?
    +e.text Вчера специалист нашего сертификационного центра Оксана Лоскутова дала свои комментарии по поводу принятого решения о переносе производства из Китая в Россию, на территорию


