include ../abstracts/bemto/bemto.pug

+b.SECTION.news-section      
  +e.H2.title Новости
  +e.link(href="page.html") Чем нам грозит интеграция с Китаем?
  +e.link(href="page.html") Чем нам грозит интеграция с Китаем?
  +e.link(href="page.html") Чем нам грозит интеграция с Китаем?
  +e.link(href="page.html") Чем нам грозит интеграция с Китаем?


