include ../abstracts/bemto/bemto.pug

+b.SECTION.offer
  .container         
    +e.H2.title Мы предлагаем
    .row
      +e.item.col-xs-12.col-md-6.col-xl-4   
        +e.icon
        +e.text Оплату наличным и безналичным расчетом
      +e.item.col-xs-12.col-md-6.col-xl-4   
        +e.icon
        +e.text Возвращаем НДС
      +e.item.col-xs-12.col-md-6.col-xl-4    
        +e.icon
        +e.text Осуществление электронного документооборота + доставка курьером
      +e.item.col-xs-12.col-md-6.col-xl-4 
        +e.icon
        +e.text Оформить документ сроком действия - до 5 лет
      +e.item.col-xs-12.col-md-6.col-xl-4 
        +e.icon
        +e.text Регистрацию документа в реестре
      +e.item.col-xs-12.col-md-6.col-xl-4
        +e.icon
        +e.text Скидку 30% при оформлении двух документов и более

