include ../abstracts/mixins/_promo-item.pug
include ../abstracts/bemto/bemto.pug

+b.SECTION.promo
  +e.inner.container
    .row 
      +promoItem("news1.jpg", "news1", "Сертификация для ИП", "Говорим с вами на одном языке. Строим бизнес вместе")
      +promoItem("news2.jpg", "news2", "Сертификация для малого и среднего бизнеса", "Поддержка бизнеса от первых шагов до сильнейших игроков")
      +promoItem("news3.jpg", "news3", "Сертификация для крупного бизнеса", "Ваши интересы-наш приоритет!")

