include ../abstracts/bemto/bemto.pug

+b.SECTION.procedure
  +e.inner.container
    .row 
      .col-xs-12           
        +e.H2.title Как начать процедуру сертификации?
    .row.row-stretch
      +e.item.col-xs-12.col-md-3
        +e.block
          +e.icon        
          +e.H3.step Заявка
          +e.text Заполнить заявку или заказать звонок
          +e.arrow
      +e.item.col-xs-12.col-md-3
        +e.block
          +e.icon        
          +e.H3.step Уточнение
          +e.text Менеджер свяжется с вами для уточнения условий сертификации
          +e.arrow
      +e.item.col-xs-12.col-md-3
        +e.block
          +e.icon        
          +e.H3.step Макет
          +e.text Предложит на утверждение макет сертификата
          +e.arrow
      +e.item.col-xs-12.col-md-3
        +e.block
          +e.icon        
          +e.H3.step Доставка
          +e.text Готовый сертификат мы вышлем Вам курьером
          +e.arrow
    .row 
      +e.btn.col-xs-12           
        +b.A.btn--white(href="page.html") Подробнее

