include ../abstracts/bemto/bemto.pug

+b.ASIDE.sidebar
  // Manager
  +b.manager--sidebar(itemscope, itemtype="http://schema.org/Person")
    +e.H3.title На ваши вопросы отвечает
    +e.photo
      +e.img
        img(src="img/manager1.jpg", alt="manager", title="manager", itemprop="image")
      +b.manager-info--sidebar
        +e.H3.name(itemprop="name") Анастасия Шушаричева
        +e.position(itemprop="jobTitle") специалист по сертификации
        +e.line
          +e.A.link--icq(href= "http://www.icq.com/whitepages/cmd.php?uin=111222333&action=message") 111-222-333
          +e.A.link--skype(href= "skype:skype01") skype01      
      +e.btn                 
        +b.A.btn(href="#", data-form="application") Написать
  // Recommendations
  +b.SECTION.recommendations
    +e.UL.list  
      +e.item
        +e.H3.title
          +e.A.link(href="page.html") Статья 1
        +e.text В России внедряются стандарты международного уровня, другими словами, проводится усовершенствование...
      +e.item
        +e.H3.title
          +e.A.link(href="page.html") Статья 1
        +e.text В России внедряются стандарты международного уровня, другими словами, проводится усовершенствование...
      +e.item
        +e.H3.title
          +e.A.link(href="page.html") Статья 1
        +e.text В России внедряются стандарты международного уровня, другими словами, проводится усовершенствование...
      +e.item
        +e.H3.title
          +e.A.link(href="page.html") Статья 1
        +e.text В России внедряются стандарты международного уровня, другими словами, проводится усовершенствование...
