include ../abstracts/bemto/bemto.pug

+b.SECTION.specialists
  +e.inner.container
    .row
      .col-xs-12
        +e.H2.title Специалисты нашей компании
        +e.gallery
          - for (var i = 1; i < 4; ++i){
            +b.manager
              +e.inner
                +e.photo
                  +e.img
                    img(src="img/manager1.jpg", alt="manager", title="manager")
                  +b.manager-info
                    +e.H3.name Анастасия Шушаричева
                    +e.position специалист по сертификации
                    +e.line
                      +e.A.link--icq(href= "http://www.icq.com/whitepages/cmd.php?uin=111222333&action=message") 111-222-333
                      +e.A.link--skype(href= "skype:skype01") veryveryveryverylongskype01      
                  +e.btn                 
                    +b.A.btn(href="#", data-form="application") Написать Анастасии
                +b.manager-bio
                  +e.H3.name Анастасия Шушаричева
                  +e.position специалист по сертификации
                  h4 Специалист в области:
                  ul
                    li оформления сертификационных документов,  действующих на территории России и Таможенного союза;   
                    li сертификации работ (услуг), в т.ч. в области автомобильного транспорта;
                    li взаимодействия с иностранными клиентами и партнерами;   
                    li получения разрешительной документации в строительстве  и смежных областях (допуски СРО).
                  h4 Образование:
                  ul
                    li Высшее профессиональное образование — государственное и муниципальное управление;   
                    li Магистратура London Metropolitan University;
                    li Семинар «Система государственных закупок: госзаказ, 223 ФЗ, 94 ФЗ, 44 ФЗ»;   
                    li Семинар-практикум «Профильные системы сертификации в Российской Федерации: Минтранспорт, Россвязь, МЧС»;
                    li Семинар «Саморегулируемые организации в строительстве: правовые основы функционирования».
          - }




